{% extends 'finance/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<h2 class="text-center">Login</h2>
<div class="card mx-auto" style="max-width: 400px;">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
<p class="text-center mt-3">Don't have an account? <a href="/register">Register here</a></p>
{% endblock %}

